{% extends 'layout.html' %}

{% block content %}

<h1>Post nuevo, donde esta mi post?</h1>

{% for post in posts %}

<div class="pd-3">
    <div class="card card-body bg-black">
        <div class="row">
            <div class="col-3">
                <img src="{{post.image.url}}" alt="{{post.title}}" class="img-fluid">
            </div>
    
            <div class="col-9">
                <h2>{{post.title}}</h2>
                <p>{{post.date|date:'d M y'|upper}}</p>
                <p>{{post.content|striptags|truncatechars:100}}</p>
    
                <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">{{post.title}}</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}